
      
          <div class="card ">
            <div class="card-header">
                {{post.title}}
            </div>
            <div class="card-body">
                {{post.body}}
            </div>
            <div class="card-footer d-flex justify-content-between ">
               <button mat-mini-fab color="primary">
                <mat-icon>edit</mat-icon>
               </button>

                <button mat-mini-fab color="warn">
                <mat-icon>delete</mat-icon>
               </button>
            </div>
        </div>
   
      