.card{
    width: 100%;
}
.movieCard{
	height: 300px;
	overflow:hidden;
}

.movieCard img{
	height:100%;
	width: 100%;
	object-fit: cover;
}

.titleInfo {
	position : absolute;
	left:0;
	bottom: 0;
	background: #22254b;
	width: 100%;
	padding: 15px;
	color:  #fff;
}

.overview {
	position: absolute;
	top: 30%;
	left: 0;
	width: 100%;
	height: 47.4%;
    overflow-y: auto;
	background: #fff;
	padding: 20px;
	transform: scale(0);
	opacity: 0;
	transition: all .4s ease-in-out;
}

.movieCard:is(:hover, :focus, :active) .overview{
	transform: scale(1);
	opacity: 0.6;
}

.titleInfo h2{
	height: 40px;
	margin: 0;
	overflow: hidden;
	white-space: rowrap;
	text-overflow: ellipsis;
	
}

.titleInfo .badge{
	font-size : 14px;
	padding: 5px 8px;
	margin: 0;
}